In [28]:
from config import gkey
import gmaps
import pandas as pd
import requests
import time
import json

In [73]:
stads = pd.read_csv('Resources/stadiums.csv')

stads_df =pd.DataFrame(stads)
stads_df

stads_df['Lat']=''
stads_df['Lng']=''
stads_df['Address'] = ''

In [74]:
stads_df.head()

  Team        Stadium   LF   LC    C   RC   RF Lat Lng Address
0  ARZ    Chase Field  330  413  407  413  334
1  ATL    Truist Park  333  385  400  375  325
2  BAL   Camden Yards  333  410  400  373  318
3  BOS    Fenway Park  310  379  390  420  302
4  CHC  Wrigley Field  355  368  400  368  353

In [75]:
params = {"key": gkey}

for index, row in stads_df.iterrows():

    base_url = "https://maps.googleapis.com/maps/api/place/textsearch/json"
#https://maps.googleapis.com/maps/api/place/textsearch/xml?query=restaurants+in+Sydney&key=YOUR_API_KEY

    stad_names = row['Stadium']

    params['query'] = stad_names

    response = requests.get(base_url, params=params)
    stadiums = response.json()

    stads_df.loc[index, "Address"] = stadiums["results"][0]["formatted_address"]
    stads_df.loc[index, "Lat"] = stadiums["results"][0]["geometry"]["location"]["lat"]
    stads_df.loc[index, "Lng"] = stadiums["results"][0]["geometry"]["location"]["lng"]

In [77]:
stads_df.head()

,Team,Stadium,LF,LC,C,RC,RF,Lat,Lng,Address
0,ARZ,Chase Field,330,413,407,413,334,33.4453,-112.067,"401 E Jefferson St, Phoenix, AZ 85004, United ..."
1,ATL,Truist Park,333,385,400,375,325,33.8911,-84.4684,"755 Battery Ave SE, Atlanta, GA 30339, United ..."
2,BAL,Camden Yards,333,410,400,373,318,39.2839,-76.6216,"333 W Camden St, Baltimore, MD 21201, United S..."
3,BOS,Fenway Park,310,379,390,420,302,42.3467,-71.0972,"4 Jersey St, Boston, MA 02215, United States"
4,CHC,Wrigley Field,355,368,400,368,353,41.9484,-87.6553,"1060 W Addison St, Chicago, IL 60613, United S..."