In [2]:
#imports
import pandas as pd
import os

In [8]:
#read files and create dataframes
frames = {}
file_names = ['2019_standings']
for file_name in (file_names):
    with_extension = file_name + '.csv'
    path = os.path.join('Resources',with_extension,)
    df = pd.read_csv(path)
    frames[file_name] = df
standings_2019 = frames['2019_standings']
wins_df= standings_2019[['Tm','W']]
wins_df

                       Tm    W
0          Houston Astros  107
1     Los Angeles Dodgers  106
2        New York Yankees  103
3         Minnesota Twins  101
4          Atlanta Braves   97
5       Oakland Athletics   97
6          Tampa Bay Rays   96
7    Washington Nationals   93
8       Cleveland Indians   93
9     St. Louis Cardinals   91
10      Milwaukee Brewers   89
11          New York Mets   86
12   Arizona Diamondbacks   85
13         Boston Red Sox   84
14           Chicago Cubs   84
15  Philadelphia Phillies   81
16          Texas Rangers   78
17   San Francisco Giants   77
18        Cincinnati Reds   75
19      Chicago White Sox   72
20     Los Angeles Angels   72
21       Colorado Rockies   71
22       San Diego Padres   70
23     Pittsburgh Pirates   69
24       Seattle Mariners   68
25      Toronto Blue Jays   67
26     Kansas City Royals   59
27          Miami Marlins   57
28      Baltimore Orioles   54
29         Detroit Tigers   47
30                Average   80