In [49]:
#imports
import pandas as pd
import os
import matplotlib as plt
import numpy as np

In [44]:
#read files and create dataframes
frames = {}
file_names = ['2019_standings','2018_standings','2017_standings','2016_standings','2015_standings','team_wins',
             '2015_bat','2016_bat','2017_bat','2018_bat','2019_bat', 'league_divs',
              '2015_field','2016_field','2017_field','2018_field','2019_field',
              '2015_pitch','2016_pitch','2017_pitch','2018_pitch','2019_pitch','stadiums','salaries']
for file_name in (file_names):
    with_extension = file_name + '.csv'
    path = os.path.join('Resources',with_extension,)
    df = pd.read_csv(path)
    frames[file_name] = df

In [53]:
#created dataframes 
stad = frames['stadiums']
divs = frames['league_divs']
sal = frames['salaries']

In [54]:
#merged team specific data

teams = pd.merge(divs, stad, on = 'Team', how = 'inner')

team_df = pd.merge(teams, sal, on = 'Team')

In [55]:
team_df.head()

,Tm,Team,League,Div,Stadium,LF,LC,C,RC,RF,Payroll,Year
0,Arizona Diamondbacks,ARZ,NL,west,Chase Field,330,413,407,413,334,91518833,2015
1,Arizona Diamondbacks,ARZ,NL,west,Chase Field,330,413,407,413,334,98657436,2016
2,Arizona Diamondbacks,ARZ,NL,west,Chase Field,330,413,407,413,334,93257600,2017
3,Arizona Diamondbacks,ARZ,NL,west,Chase Field,330,413,407,413,334,132500000,2018
4,Arizona Diamondbacks,ARZ,NL,west,Chase Field,330,413,407,413,334,107584167,2019